{% extends 'back.html.twig' %}
{% block title %} Espace Admin - Accueil {% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#Amal tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Liste Zones</strong>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th> Stock </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody id="Amal">
                            {% for zone in zones %}
                            <tr>
                                <td>{{ zone.id }}</td>
                                <td>{{ zone.nom }}</td>
                                <td>{{ zone.stock }}</td>
                                <td><a href="{{ path('back_location_Supprimer_Zone' ,{'id':zone.id})}}">Suprimer</a></td>
                                <td><a href="{{ path('back_location_update' ,{'id':zone.id})}}" >Modifier</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}